server:
  port: ${GATEWAY_SERVER_PORT:8080}

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: login-service
          uri: ${LOGIN_SERVER_URI:http://login-service:8081}
          predicates:
            - Path=/api/login/**
          filters:
            - RewritePath=/api/login/(?<segment>.*), /$\{segment}

      # CORS Configuration
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
            allowedHeaders: "*"